@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.generate_sidebar {
  max-width: 320px;
}

.generate_body {
  width: calc(100vw - 320px);
}

.generate_body_main {
  display: flex;
}

.generate_input {
  max-width: 640px;
}

.generate_editor {
  width: calc(100vw - 960px);
}

@media (max-width: 1600px) {
  .generate_body_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .generate_input {
    width: auto;
  }
  
  .generate_editor {
    width: auto;
  }

}

/* change footer */
@media (max-width: 1600px) {


}